<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @pessoa.cidade.estado.nome %>
</p>
<p>
  <strong>Cidade:</strong>
  <%= @pessoa.cidade.nome %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
